<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nomina</title>
</head>
<body>
  <h1 class="mt-3 mb-5 text-center">Consultar tu Nómina</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 mb-3">
        <label for="">Tipo de contrato:</label>
        <select class="form-select" aria-label="Default select example" (change)="contrato($event.target)">
          <option selected>Seleccione:</option>
          <option value="1">Contrato a Término Fijo</option>
          <option value="2">Contrato a término indefinido</option>
          <option value="3">Contrato de Obra o labor</option>
          <option value="4">Contrato civil por prestación de servicios</option>
          <option value="5">Contrato de aprendizaje</option>
        </select>
      </div>
    </div>
<div class="container mt-3" *ngIf="isSelect">
  <div class="row">
    <div class="col">
      <h2>{{title}}</h2>
    </div>
  </div>
  <p>{{definition}}</p>
</div>
    




  </div>
</body>
</html>